<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.CusOrderDetailMapper">

    <delete id="removeByOrderId">
        delete from cus_order_detail where order_id=#{Oid}
    </delete>

    <select id="selectByOrderId" resultType="com.woniu.dao.po.CusOrderDetail">
        select * from cus_order_detail where order_id={Cusid}
    </select>

</mapper>
