<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.ReturnsalesMapper">
    <select id="selectCusOrDetail" resultType="com.woniu.dao.po.CusOrderDetail">
        select * from cusorder cu inner join cus_order_detail co on cu.id=co.order_id
    </select>

</mapper>
